h3{
    font-weight: 500
}
p{
    color: #777;
    margin: 0;
    line-height: 1.8;
    font-size: 14px;
}

.trip-card{
    box-shadow: 1px 1px 5px #eee;
    padding: 12px;
    border-radius: 4px;
    margin: 4px;
}

.trip-time{
    color: #777777
}

.trip-id{
    font-weight: 500;
}

.trip-place{
    color: #333;
    font-weight: 500;
}

b{
    color: #000000;
}