<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{passenger.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <ion-segment [(ngModel)]="tabs" mode="ios">
      <ion-segment-button value="basicinfo">
        INFORMAÇÕES BÁSICAS
      </ion-segment-button>
      <ion-segment-button value="ridehistroy" (click)="getTrips()">
       Histórico
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="tabs">
      <div *ngSwitchCase="'basicinfo'">
        <ion-list lines="none">
          <ion-item>
            <ion-avatar slot="start">
              <img src="{{passenger.photoURL}}" onerror="this.src='./assets/img/default-dp.png'" />
            </ion-avatar>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input type="text" [(ngModel)]="passenger.name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input type="text" [(ngModel)]="passenger.email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Telefone</ion-label>
            <ion-input type="text" [(ngModel)]="passenger.phoneNumber"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click)="updateUserInfo()">Atualizar</ion-button>
      </div>
      <div *ngSwitchCase="'ridehistroy'">
        <ion-list lines="none">
          <ion-item *ngFor="let trip of trips">
            <ion-label>
              <ion-text>
                <p>ID: {{ trip.createdAt }}</p>
              </ion-text>
              <ion-text>
                <h3><span style="color:#4CAF50">•</span> {{ trip.origin.vicinity }}</h3>
                <p>{{ trip.pickedUpAt | date: 'medium'}}</p>
              </ion-text>
              <ion-text>
                <h3><span style="color:#F44336">•</span> {{ trip.destination.vicinity }}</h3>
                <p>{{ trip.droppedOffAt | date: 'medium'}}</p>
              </ion-text>
              <ion-text>
                <ion-row>
                  <ion-col>
                    <p>FEE: {{trip.currency}} {{trip.fee}}</p>
                  </ion-col>
                  <ion-col *ngIf="trip.discount != 0">
                    <p>Discount: {{trip.discount}} ({{trip.promo}})</p>
                  </ion-col>
                  <ion-col>
                    <p>Payment Mode: {{ trip.paymentMethod }}</p>
                  </ion-col>
                </ion-row>
              </ion-text>
            </ion-label>
            <ion-badge slot="end">
              {{trip.currency}} {{ (trip.fee - (trip.fee * trip.discount / 100)).toFixed(2) }}
            </ion-badge>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-card>
</ion-content>