<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'EDIT CAR' : 'ADD CAR'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="ion-padding">
    <p class="notice">Icon, Map Icon images should be inside `rider/src/assets/img` folder</p>
    <ion-row>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked">NAME</ion-label>
            <ion-input type="text" [(ngModel)]="car.name" [disabled]="isEdit"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">ICON PATH (Displayed on Home page of Rider)</ion-label>
            <ion-input type="text" [(ngModel)]="car.icon" placeholder="assets/img/name.png"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">MAP ICON (Display inside map) 32x32</ion-label>
            <ion-input type="text" [(ngModel)]="car.map_icon" placeholder="assets/img/name.png"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Seats</ion-label>
            <ion-input type="text" [(ngModel)]="car.seats"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Driver Commission</ion-label>
            <ion-select [(ngModel)]="car.commission_type">
              <ion-select-option value="percentage">In Percentage</ion-select-option>
              <ion-select-option value="fixed">Fixed Price</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Commission Value</ion-label>
            <ion-input type="text" [(ngModel)]="car.commission_value"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
        <ion-list lines="none">
          <ion-item>
            <ion-label position="stacked">First X km</ion-label>
            <ion-input type="text" [(ngModel)]="car.base_km"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fare for First X km (cost/1km)
            </ion-label>
            <ion-input type="text" [(ngModel)]="car.base_fare"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Cost After X km (cost/1km)</ion-label>
            <ion-input type="text" [(ngModel)]="car.per_km"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Tax (%)</ion-label>
            <ion-input type="text" [(ngModel)]="car.tax"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <div class="ion-padding">
      <ion-button *ngIf="!isEdit" expand="block" size="small" (click)="add()">ADD</ion-button>
      <ion-button *ngIf="isEdit" expand="block" size="small" (click)="update()">UPDATE</ion-button>
      <ion-button *ngIf="isEdit" expand="block" fill="clear" size="small" color="danger" (click)="delete()">Delete
      </ion-button>
    </div>

    <br /><br />
    <b>How Pricing Works?</b>
    <br /><br />
    <b>Example 1</b>
    <p>
      Let's say for example, you want to charge, $2/km for first 10km, and $1/km after 10km.<br /> Use<br />
      First X Km = 10,<br />
      Fare for first X KM = 2,<br />
      Fare After X Km = 1
    </p>
    <b>Example 2</b>
    <p>
      Let's say for example, you want to charge, $1 / km (no calculation need). <br /> Use <br />
      First X Km = 1,<br />
      Fare for first X KM = 1,<br />
      Fare After X Km = 1
    </p>
  </ion-card>

</ion-content>