/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



table{
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
}
thead{
    background: #f7f7f7;
    color: #222;
}
tr, th{
    border: 1px solid #eee;
    padding: 5px;
    text-align: left;
}
td{
    padding: 4px;
}
.dp{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.split-pane-visible >.split-pane-side {
    min-width: 220px!important;
    max-width: 220px!important;
}
  
ion-input, ion-textarea, ion-select{
    margin-top: 1rem !important;
    border: 2px solid #eee !important;
}

input{
    padding: 5px 10px !important;
}

.active-link{
    color: #ffc107 !important;
}

ion-item {
    --highlight-color-valid: transparent;
    --highlight-color-invalid: transparent;
    --highlight-color-focused: transparent;
  }


ion-menu {
    --ion-background-color: #f4f4f4;
    --ion-text-color: #222222;
    ion-icon{
        color: #222222;
    }
    ion-toolbar {
        --background: #f4f4f4;
    }

    ion-list {/* optional, but it needs when you use gradient as a background color.*/
        background: transparent;
    }
}

.notice {
    color: #2196F3;
    font-size: 14px;
    background: #E3F2FD;
    padding: 12px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #2196F3;
}

p{
    margin: 4px;
}
ion-button{
    --box-shadow:none;
}