<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col routerLink="/drivers" size="4">
        <div class="card">
          Gerenciar Técnicos
        </div>
      </ion-col>
      <ion-col routerLink="/passengers" size="4">
        <div class="card">
         Gerenciar Clientes
        </div>
      </ion-col>
      <ion-col routerLink="/trips" size="4">
        <div class="card">
         Gerenciar Atendimentos
        </div>
      </ion-col>

      <ion-col routerLink="/notifications" size="4">
        <div class="card">
         Gerenciar Notificações
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>