.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .card{
    display: flex;
    box-shadow: 1px 1px 4px rgb(19, 17, 17);
    min-height: 150px;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: 1px solid #eee;
    background: #202020;
  }
  
  .card:hover{
    border: 1px solid #333;
    cursor: pointer;
  }